<head>
<style type="text/css">
body{
line-height:1.6;
font-size:18px;
color:#444;
padding:0
10px}
h1,h2,h3{
line-height:1.2
}
</style>
	<title>Half-World</title>
	<meta name="description" content="The Universal Racing Game"">
</head>
<body>
	<h1>Half-World</h1>
	<h2>The Universal Racing Game</h2>
	<p>Half-World is a stateless racing game protocol that is easily expandable, as well as a reference implementation. It allows racing games of many different types, and even of non-racing paradigms, to communicate with each other.</p>
	<p>It has no implementation requirements</p>
	<br />
	<p><a href="specs/HWDOC_SPEC.html">Half-World Document Format</a> (<a href="specs/HWDOC_SPEC.md">Plain text/Markdown version</a>)</p>
	<p><a href="specs/HWBMP_SPEC.html">Half-World Bitmap Format</a> (<a href="specs/HWBMP_SPEC.md">Plain text/Markdown version</a>)</p>
	<br />
	<p><a href="specs/HWNET_SPEC.html">Half-World Network Specification</a> (<a href="specs/HWNET_SPEC.md">Plain text/Markdown version</a>)</p>
	<p><a href="specs/HWT_SPEC.html">Half-World Track Specification</a> (<a href="specs/HWT_SPEC.md">Plain text/Markdown version</a>)</p>
	<p><a href="specs/HWVM_SPEC.html">Half-World Virtual Machine Specification</a> (<a href="specs/HWVM_SPEC.md">Plain text/Markdown version</a>)</p>
	<br />
	<p><a href="https://gitea.com/Nomagno/Half-World.git">Check out the Git repository for more information!</a> (<a href="https://gitea.com/Nomagno/Half-World/archive/master.tar.gz">Tarball here</a>)</p>
	<br />
	<p><a href="traffic.html">Website traffic statistics</a></p>
	<p><a href="news/rss.xml">RSS feed with news</a></p>
	<br />
	<br />
<p>Copyright Nomagno 2021, 2022</p>
<p><a href="LICENSE.txt" type="text">License of all content on this page</a>
</body>
